@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <h2>hola soy nico</h2>
    <p>Para ir al moodle <a href="https://nslp.com.ar">click aqui</a>.</p>
    <img src="~/img/wallpaper half life_1.jpg" alt width="700" height="500" class="centered-image" />
</div>
